/*VARIABLES */
:root {
  --info-light: #98d1e7;
}
main {
  min-height: 80vh;
}
h1 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
h3 {
  font-size: 1.1rem;
  padding: 0.3rem 0;
}

.rating span {
  margin: 0.05rem;
}

.card {
  height: 28em;
}

thead tr th {
  font-weight: bold;
}

.show-password {
  background-color: var(--info-light);
  color: var(--light);
  font-size: 20px;
  position: absolute !important;
  right: 16px;
  bottom: 117px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.success-mark {
  padding: 5px;
  border-radius: 10px;
}
.order-id {
  font-weight: "bold";
  text-transform: "uppercase";
}
/* carousel */

.carousel-background {
  background-color: rgb(19, 173, 88);
  border-radius: 2em;
  box-shadow: 0px 30px 40px rgb(110, 110, 110);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 50px;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
.small-table {
  display: none;
}

.underline-success {
  border-bottom: 1px solid #4bbf73;
}

/*OVERWRITE */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 10px !important;
  padding-left: 10px !important;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 570px !important;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 760px !important;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 990px !important;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1180px !important;
  }
}
/*-------------*/
@media (max-width: 1000px) {
  .large-table {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }

  .small-table {
    display: inline;
  }
  .large-table {
    display: none;
  }
}
@media (max-width: 500px) {
  .hide-carousel {
    display: none;
  }
  .order-id {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .order-id {
    font-size: 14px;
  }
}
